.chat__sidebar {
  position: absolute;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #333744;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal__center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 15rem;
  height: 15rem;
}
.show {
  display: flex;
}
